<html>
  <head>
    <style type="text/css">
      body {
        background-image: linear-gradient(-74deg, transparent 90%, rgba(255, 255, 255, 0.23) 20%), linear-gradient(-74deg, transparent 83%, rgba(255, 255, 255, 0.18) 15%), linear-gradient(-74deg, transparent 76%, rgba(255, 255, 255, 0.1) 15%), linear-gradient(to top, #127ab1, #1799e0, #1796db);
    		background-size: cover;
    		margin-bottom: 0px!important;
        color: white;
        font-family: 'Geomanist', sans-serif;
  			font-weight: normal;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: initial;
      }
    </style>
  </head>
  <body>
    <p align="center"><img align="middle" src=https://camo.githubusercontent.com/6bc04a6490c7549566902093ff2f349fa5e6715d88169713221cfd851b0bd045/68747470733a2f2f7777772e6c616365776f726b2e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031392f30372f4c616365776f726b5f4c6f676f5f636f6c6f725f323031392e737667 width=30%></img></p>
    <h1 align=center style='text-align:center'><span style='font-family:"Arial",sans-serif;
mso-fareast-font-family:"Times New Roman";color:red'>Welcome Meetup of October 28<o:p></o:p></span></h1>
    <h1 align="center">Congratulations on deploying this Docker App protected by Lacework</h1>
    <p align="center">Container ID: {{hostname}}</p>
    <div class="container">
        <img src="{{url}}" />
	  </div>
    <p align="center"><OUTPUT></p>
    <p align="center"><a href="https://twitter.com/intent/tweet?button_hashtag=myfirstcontainer" class="twitter-hashtag-button" data-size="large" data-text="I just deployed my first @docker container with #Python and #Alpine protected by Lacework" data-url="http://www.docker.com" data-lang="en" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
    </body>
</html>
